.book-list {
    border: 4px solid black;
    display: flex;
    flex-direction: column;
}

.list-Container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px
}

.list-Container:nth-child(odd)  {
    background-color: lightgray;
}

.delete {
    box-shadow: 5px 5px black;
    margin-right: 20px;
    font-weight: bold;
}

p {
    margin-left: 20px;
}